.wrapper {
    width: 720px;
    margin: 0 auto;
    padding: 0;
}

legend {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about li{
    padding: 10px 0;
}

.moreAbout li {
    font-size: 13px;
}

.headerNearElem {
    margin-bottom: 0;
}

.category {
    margin-top: 10px;
}

b {
    line-height: 40px;
}