.wrapper {
    width: 720px;
    margin: 0 auto;
    padding: 0;
}

fieldset {
    margin: 20px 0;
}

legend {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.positions {
    margin: 15px 0;
}

.about li{
    padding: 10px 0;
}

.moreAbout li {
    font-size: 13px;
}

.aboutForms {
    display: block;
}

.headerNearElem {
    display: block;
    line-height: inherit;
    margin-top: 15px;
}

.comment-block {
    display: block;
}

.category {
    margin-top: 10px;
}

b {
    line-height: 40px;
}